---
layout: base.njk
title: About
lang: en
permalink: /en/about/index.html
---
<h1>About</h1>
<p>Since 1984 we support customers in the graphic industry with screen-printing frames designed and manufactured in Italy.</p>
<p>Speed, reliability and professionalism are our values for long-lasting partnerships.</p>
